body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.alert-card {
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-card img {
    max-width: 150px;
    max-height: 100px;
    margin-right: 15px;
    border-radius: 8px;
}

.alert-content {
    flex: 1;
}

.alert-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.alert-description {
    margin-bottom: 5px;
}

.report-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #63acfc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.report-button:hover {
    background-color: #bcdaff;
}
