/* Geral*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9fafb;
    color: #222;
    margin: 0;
    padding: 0;
}

/* Barra de Navegação */
.navbar-brand img {
    height: 40px;
}

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    position: relative;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3;
}

/* Efeito de Hover na Barra de Navegação*/
.nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0056b3;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* Conteudo Principal*/
.centered-content {
    text-align: center;
    margin-top: 50px;
    position: relative;
}


/* Estilo Geral da Div */
.input-map input {
    width: 100%; /* Alinha com o mapa */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }

/* Placeholder no Foco */
.input-map input:focus::placeholder {
    color: transparent;
}

.input-map {
    width: 75%; /* Largura padrão para computadores */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    .input-map {
        width: 100%; /* Largura total para telas pequenas */
    }
}

input:-webkit-autofill {
    background-color: transparent !important;
  }

/* Estilo do Mapa */
#map {
    width: 100%; /* Mesma largura do input */
    height: 400px; /* Altura fixa */
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
}

/* Carrossel */
.carousel-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0 40px;
    color: #0056b3;
}

/* Seção de Explicação ou e Informações? */
.additional-section {
    text-align: left;
    margin: 50px auto;
    max-width: 700px;
    line-height: 1.8;
    color: #444;
}

/* Footer */
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
    background-color: #f0f0f0;
    padding: 15px 0;
}

.foot-line {
    border-top: 1px solid #ddd;
    margin-top: 30px;
}

/* Botão para Reportar Alagamento */
.report-button {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.report-button:hover {
    background-color: #0056b3;
    transform: translateX(-50%) scale(1.05);
}
